// InterUI Regular
@font-face {
  font-family: 'InterUIRegular';
  src: url(../fonts/Inter-UI-Regular.otf);
}
// InterUI Medium
@font-face {
  font-family: 'InterUIMedium';
  src: url(../fonts/Inter-UI-Medium.otf);
}
// InterUI Bold
@font-face {
  font-family: 'InterUIBold';
  src: url(../fonts/Inter-UI-Bold.otf);
}
// Montserrat Bold
@font-face {
  font-family: 'MontserratBold';
  src: url(../fonts/Montserrat-Bold.ttf);
}
// MaterialIcons Regular
@font-face {
  font-family: 'MaterialIconsRegular';
  src: url(../fonts/MaterialIcons-Regular.ttf);
}
